* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin: 40px;
    color: white;
    font-size: 1.4em;
}

#wrapper {
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header nav nav"
    "aside footer article";
}

#header {
    grid-area: header;
    background-image: url(../img/dandelion.jpg);
}
#nav {
    grid-area: nav;
    background-image: url(../img/dand2.jpg);

}
#aside {
    grid-area: aside;
    background-image: url(../img/dand3.jpg);

}
#footer {
    grid-area: footer;
    background-image: url(../img/dandy.gif);

}
#article {
    grid-area: article;
    background-image: url(../img/dandy2.gif);

}
#wrapper > div{
    background-color: burlywood;
    border-radius: 5px;
    padding: 10px;
    height: 40vh;
    opacity: 0.5;
    background-size: cover;

}
#wrapper > div:hover{
    opacity: 1;
    transition: 1s;
}

ul {
    list-style-type: none;
    background-color: rgba(150, 150, 150, 0.5);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: white;
}

li {
    float: left;
}

@media all and (max-width: 600px) {
    #wrapper {
        gap: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header" 
        "nav"
        "aside"
        "footer" 
        "article";
}
}